.table-container {
  overflow-x: auto;
  overflow: auto;
  max-height: 100vh;
  border: 1px solid red;
}
th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #146775;
  color: white;
  z-index: 3;
}

.coin-name {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  background: #569ca8;
  color: white;
  z-index: 1;
  min-width: 150px; /* How can I make this dynamic? */
}

.favicon {
  height: 30px;
  width: 30px;
}
