.table-container {
  overflow-x: auto;
  overflow: auto;
  max-height: 80vh;
  border: 1px solid purple;
}

.table-container table {
  width:100%;
  height:auto;
  margin: auto;
}

.table-container th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #694489;
  color: white;
  z-index: 3;
}

.table-container td {
  padding-right: 5px;
}

.head-col {
  width: 250px;
  padding: 0;
}

.coin-name {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  background: #f8f8f8;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

/* .coin-R {
  border: 1px solid blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
.coin-L {
  width: 50px;
  text-align: left;
  white-space: nowrap;
  padding-right: 5px;
  color: black;
  font-size: 14px;
}
.coin-R {
  text-align: left;
}

.favicon {
  height: 20px;
  width: 20px;
}

.coinImage {
  max-width: 25px;
  max-height: 25px;
}

.green {
  color:green
}

.red {
  color: red
}

@media (max-width: 550px) {

  .head-col {
    height: 50px;
    width: 150px;
  }

  .table-container tr{
    height: 50px;
  }

  /* .coin-R {
    vertical-align: middle;
    text-align: left;
    margin: auto;
  }

  .coin-R a {
    width: 100%;
    height: 100%;
  }

  .coinImage {
    display: hidden;
  } */
}