@media (max-width: 550px) {
    .PortfolioAddPage form{
        width:100%;
    }
    .PortfolioAddPage label {
        font-size: 20px;
        margin: auto;
    }
    .PortfolioAddPage input, .PortfolioAddPage select{
        width: 90%;
        height:10vh;
        font-size: 30px;
    }
    .PortfolioAddPage button{
        grid-column-start: 2;
        width: 80%;
        height: 10vh;
        font-size: 20px;
    }
  }